USE [DATABASENAME]
GO
/****** Object:  Schema [FIRST]    Script Date: 09/23/2013 16:40:05 ******/
CREATE SCHEMA [FIRST] 
GO
/****** Object:  Table [FIRST].[SENTIMENT_OBJECT_TYPE]    Script Date: 09/23/2013 16:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [FIRST].[SENTIMENT_OBJECT_TYPE](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](300) NOT NULL,
	[ONTOLOGY_CONCEPT_URI] [varchar](300) NULL,
 CONSTRAINT [OBJECT_TYPE_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [FIRST].[INDICATOR_TYPE]    Script Date: 09/23/2013 16:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [FIRST].[INDICATOR_TYPE](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](256) NULL,
 CONSTRAINT [INDICATOR_TYPE_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [FIRST].[INDICATOR]    Script Date: 09/23/2013 16:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [FIRST].[INDICATOR](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ONTOLOGY_CONCEPT_URI] [varchar](128) NULL,
	[INDICATOR_NAME] [varchar](128) NULL,
 CONSTRAINT [PK_INDICATOR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [FIRST].[QUERY_PARAMETER]    Script Date: 09/23/2013 16:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [FIRST].[QUERY_PARAMETER](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[QUERY_SITE] [varchar](50) NULL,
	[QUERY_DATE] [date] NULL,
	[QUERY_SENTIMENT_OBJECT] [varchar](50) NULL,
	[QUERY_STRING] [varchar](128) NULL,
 CONSTRAINT [PK_QUERY_PARAMETER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The Query String from the Ontology' , @level0type=N'SCHEMA',@level0name=N'FIRST', @level1type=N'TABLE',@level1name=N'QUERY_PARAMETER', @level2type=N'COLUMN',@level2name=N'QUERY_STRING'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Query Parameter for the Query on Retrieval.
The Website link based on these parameters.' , @level0type=N'SCHEMA',@level0name=N'FIRST', @level1type=N'TABLE',@level1name=N'QUERY_PARAMETER'
GO
/****** Object:  Table [FIRST].[PHRASE_TYPE]    Script Date: 09/23/2013 16:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [FIRST].[PHRASE_TYPE](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](128) NULL,
	[DESCRIPTION] [varchar](512) NULL,
 CONSTRAINT [MODIFIER_PHRASE_TYPE_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [FIRST].[CORPUS_META_DATA]    Script Date: 09/23/2013 16:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [FIRST].[CORPUS_META_DATA](
	[ID] [numeric](18, 0) NOT NULL,
	[CORPUS_NAME] [varchar](128) NULL,
	[DESCRIPTION] [varchar](256) NULL,
 CONSTRAINT [PK_CORPUS_META_DATA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [FIRST].[DEGREE_OF_MEMBERSHIP]    Script Date: 09/23/2013 16:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [FIRST].[DEGREE_OF_MEMBERSHIP](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[LABEL] [varchar](128) NOT NULL,
	[UPPER_BOUND] [numeric](18, 10) NULL,
	[LOWER_BOUND] [numeric](18, 10) NULL,
	[SCORE_AVERAGE] [numeric](18, 10) NULL,
 CONSTRAINT [DEGREE_OF_MEMBERSHIP_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [FIRST].[DOCUMENT_TYPE]    Script Date: 09/23/2013 16:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [FIRST].[DOCUMENT_TYPE](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TYPE] [varchar](128) NULL,
	[DESCRIPTION] [varchar](512) NULL,
 CONSTRAINT [PK_DOCUMENT_STEP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [FIRST].[SENTIMENT_FEATURE_TYPE]    Script Date: 09/23/2013 16:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [FIRST].[SENTIMENT_FEATURE_TYPE](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](1000) NOT NULL,
	[Ontology_Concept_URI] [varchar](512) NULL,
 CONSTRAINT [SENTIMENT_FEATURE_TYPE_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [FIRST].[SENTIMENT_CLASSIFIER_TYPE]    Script Date: 09/23/2013 16:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [FIRST].[SENTIMENT_CLASSIFIER_TYPE](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CLASSIFIER_METHOD] [varchar](200) NULL,
	[SENTIMENT_TYPE] [varchar](200) NULL,
 CONSTRAINT [PK_Sentiment_Classifier_Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [FIRST].[SENTIMENT_LEVEL_DEFINITION]    Script Date: 09/23/2013 16:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [FIRST].[SENTIMENT_LEVEL_DEFINITION](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](128) NOT NULL,
 CONSTRAINT [LEVEL_DEFINITION_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [FIRST].[WEBSITE]    Script Date: 09/23/2013 16:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [FIRST].[WEBSITE](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TITLE] [varchar](256) NULL,
	[AUTHOR] [varchar](128) NULL,
	[URL] [varchar](256) NULL,
 CONSTRAINT [PK_WEBSITE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [FIRST].[URL]    Script Date: 09/23/2013 16:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [FIRST].[URL](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[protocol] [varchar](50) NULL,
	[host] [varchar](128) NULL,
	[path] [varchar](256) NULL,
	[versionInfo] [varchar](128) NULL,
 CONSTRAINT [PK_URL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [FIRST].[SENTIMENT_OBJECT_PROPERTY]    Script Date: 09/23/2013 16:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [FIRST].[SENTIMENT_OBJECT_PROPERTY](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[VALUE] [varchar](255) NULL,
	[KEY] [varchar](255) NULL,
 CONSTRAINT [OBJECT_PROPERTY_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [FIRST].[SENTIMENT_OBJECT]    Script Date: 09/23/2013 16:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [FIRST].[SENTIMENT_OBJECT](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[SENTIMENT_OBJECT_TYPE_FK] [numeric](18, 0) NULL,
	[ONTOLOGY_CONCEPT_URI] [varchar](300) NULL,
	[NAME] [varchar](300) NULL,
 CONSTRAINT [OBJECT_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [FIRST].[SENTIMENT_INDICATOR]    Script Date: 09/23/2013 16:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [FIRST].[SENTIMENT_INDICATOR](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[INDICATOR_TYPE_FK] [numeric](18, 0) NULL,
	[NAME] [varchar](512) NULL,
	[INDICATOR_SCORE] [numeric](18, 0) NULL,
	[POSITIVE_DOM_NUMBER] [numeric](18, 0) NULL,
	[NEGATIVE_DOM_NUMBER] [numeric](18, 0) NULL,
	[CORRELATION_DEFINITION] [int] NULL,
	[INDICATOR_FK] [numeric](18, 0) NULL,
 CONSTRAINT [INDICATOR_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [FIRST].[DOCUMENT_META_DATA]    Script Date: 09/23/2013 16:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [FIRST].[DOCUMENT_META_DATA](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[JSI_WP3_ID] [varchar](256) NULL,
	[URL] [varchar](512) NULL,
	[TITLE] [varchar](512) NULL,
	[NUMBER_OF_PARAGRAPHs] [numeric](18, 0) NULL,
	[NUMBER_OF_WORDS] [int] NULL,
	[PUBLICATION_DATE] [date] NULL,
	[AUTHOR] [varchar](128) NULL,
	[RETRIEVAL_DATE] [datetime] NULL,
	[WEBSITE_FK] [numeric](18, 0) NULL,
	[QUERY_PARAMETER_FK] [numeric](18, 0) NULL,
 CONSTRAINT [PK_DOCUMENT_META_DATA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [FIRST].[PHRASE]    Script Date: 09/23/2013 16:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [FIRST].[PHRASE](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[PHRASE_TYPE_FK] [numeric](18, 0) NOT NULL,
	[STARTNODE] [int] NULL,
	[ENDNODE] [int] NULL,
	[TEXT] [varchar](max) NULL,
	[NEGATIVE_DOM_NUMBER] [numeric](18, 0) NULL,
	[POSITIVE_DOM_NUMBER] [numeric](18, 0) NULL,
	[SENTIMENT_SCORE] [int] NULL,
	[DISTANCE_TO_SENTIMENTOBJECT_IN_TOKENS] [int] NULL,
 CONSTRAINT [PK_PHRASE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [FIRST].[SENTIMENT_OBJECT_PROPERTY_RELATION]    Script Date: 09/23/2013 16:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIRST].[SENTIMENT_OBJECT_PROPERTY_RELATION](
	[SENTIMENT_OBJECT_FK] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[OBJECT_PROPERTY_FK] [numeric](18, 0) NOT NULL,
 CONSTRAINT [HAS_PROPERTY_PK] PRIMARY KEY CLUSTERED 
(
	[SENTIMENT_OBJECT_FK] ASC,
	[OBJECT_PROPERTY_FK] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FIRST].[DOCUMENT_VERSION]    Script Date: 09/23/2013 16:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [FIRST].[DOCUMENT_VERSION](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DOCUMENTURL_FK] [numeric](18, 0) NULL,
	[DOCUMENT_NAME] [varchar](128) NULL,
	[DOCUMENT_TYPE_FK] [numeric](18, 0) NULL,
	[DOCUMENT_METADATA_FK] [numeric](18, 0) NULL,
	[CREATION_DATE] [date] NULL,
	[ONTOLOGY_URL_FK] [numeric](18, 0) NULL,
	[DESCRIPTION] [varchar](128) NULL,
 CONSTRAINT [PK_XML_DOCUMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [FIRST].[CORPUS_RELATION]    Script Date: 09/23/2013 16:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIRST].[CORPUS_RELATION](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CORPUS_META_DATA_FK] [numeric](18, 0) NULL,
	[DOCUMENT_FK] [numeric](18, 0) NULL,
 CONSTRAINT [PK_CORPUS_RELATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FIRST].[SENTIMENT]    Script Date: 09/23/2013 16:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIRST].[SENTIMENT](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[SCORE] [numeric](18, 16) NULL,
	[SENTIMENT_LEVEL_DEFINITION_FK] [numeric](18, 0) NULL,
	[SENTIMENT_OBJECT_FK] [numeric](18, 0) NULL,
	[POSITIVE_DOM_FK] [numeric](18, 0) NULL,
	[DOCUMENT_META_DATA_FK] [numeric](18, 0) NULL,
	[NEGATIVE_DOM_FK] [numeric](18, 0) NULL,
	[HOLDER_CERTAINTY_DOM_FK] [numeric](18, 0) NULL,
	[SENTIMENT_SUBFEATURE_TYPE_FK] [numeric](18, 0) NULL,
	[SENTIMENT_FEATURE_TYPE_FK] [numeric](18, 0) NULL,
	[SENTIMENT_INDICATOR_FK] [numeric](18, 0) NULL,
	[PARAGRAPH] [int] NULL,
	[SENTIMENT_CLASSIFIER_TYPE_FK] [numeric](18, 0) NULL,
 CONSTRAINT [SENTIMENT_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FIRST].[SENTIMENT_PHRASE_RELATION]    Script Date: 09/23/2013 16:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIRST].[SENTIMENT_PHRASE_RELATION](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[PHRASE_FK] [numeric](18, 0) NOT NULL,
	[SENTIMENT_FK] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_SENTIMENTPHRASE_RELATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_CORPUS_RELATION_CORPUS_META_DATA]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[CORPUS_RELATION]  WITH CHECK ADD  CONSTRAINT [FK_CORPUS_RELATION_CORPUS_META_DATA] FOREIGN KEY([CORPUS_META_DATA_FK])
REFERENCES [FIRST].[CORPUS_META_DATA] ([ID])
GO
ALTER TABLE [FIRST].[CORPUS_RELATION] CHECK CONSTRAINT [FK_CORPUS_RELATION_CORPUS_META_DATA]
GO
/****** Object:  ForeignKey [FK_CORPUS_RELATION_DOCUMENT_META_DATA]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[CORPUS_RELATION]  WITH CHECK ADD  CONSTRAINT [FK_CORPUS_RELATION_DOCUMENT_META_DATA] FOREIGN KEY([DOCUMENT_FK])
REFERENCES [FIRST].[DOCUMENT_META_DATA] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIRST].[CORPUS_RELATION] CHECK CONSTRAINT [FK_CORPUS_RELATION_DOCUMENT_META_DATA]
GO
/****** Object:  ForeignKey [FK_DOCUMENT_META_DATA_QUERY_PARAMETER]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[DOCUMENT_META_DATA]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENT_META_DATA_QUERY_PARAMETER] FOREIGN KEY([QUERY_PARAMETER_FK])
REFERENCES [FIRST].[QUERY_PARAMETER] ([ID])
GO
ALTER TABLE [FIRST].[DOCUMENT_META_DATA] CHECK CONSTRAINT [FK_DOCUMENT_META_DATA_QUERY_PARAMETER]
GO
/****** Object:  ForeignKey [FK_DOCUMENT_META_DATA_WEBSITE]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[DOCUMENT_META_DATA]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENT_META_DATA_WEBSITE] FOREIGN KEY([WEBSITE_FK])
REFERENCES [FIRST].[WEBSITE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIRST].[DOCUMENT_META_DATA] CHECK CONSTRAINT [FK_DOCUMENT_META_DATA_WEBSITE]
GO
/****** Object:  ForeignKey [FK_DOCUMENT_VERSION_DOCUMENT_META_DATA]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[DOCUMENT_VERSION]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENT_VERSION_DOCUMENT_META_DATA] FOREIGN KEY([DOCUMENT_METADATA_FK])
REFERENCES [FIRST].[DOCUMENT_META_DATA] ([ID])
GO
ALTER TABLE [FIRST].[DOCUMENT_VERSION] CHECK CONSTRAINT [FK_DOCUMENT_VERSION_DOCUMENT_META_DATA]
GO
/****** Object:  ForeignKey [FK_DOCUMENT_VERSION_DOCUMENT_TYPE]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[DOCUMENT_VERSION]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENT_VERSION_DOCUMENT_TYPE] FOREIGN KEY([DOCUMENT_TYPE_FK])
REFERENCES [FIRST].[DOCUMENT_TYPE] ([ID])
GO
ALTER TABLE [FIRST].[DOCUMENT_VERSION] CHECK CONSTRAINT [FK_DOCUMENT_VERSION_DOCUMENT_TYPE]
GO
/****** Object:  ForeignKey [FK_DOCUMENT_VERSION_URL]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[DOCUMENT_VERSION]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENT_VERSION_URL] FOREIGN KEY([DOCUMENTURL_FK])
REFERENCES [FIRST].[URL] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIRST].[DOCUMENT_VERSION] CHECK CONSTRAINT [FK_DOCUMENT_VERSION_URL]
GO
/****** Object:  ForeignKey [FK_DOCUMENT_VERSION_URL1]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[DOCUMENT_VERSION]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENT_VERSION_URL1] FOREIGN KEY([ONTOLOGY_URL_FK])
REFERENCES [FIRST].[URL] ([ID])
GO
ALTER TABLE [FIRST].[DOCUMENT_VERSION] CHECK CONSTRAINT [FK_DOCUMENT_VERSION_URL1]
GO
/****** Object:  ForeignKey [PHRASE_TYPE_FK]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[PHRASE]  WITH CHECK ADD  CONSTRAINT [PHRASE_TYPE_FK] FOREIGN KEY([PHRASE_TYPE_FK])
REFERENCES [FIRST].[PHRASE_TYPE] ([ID])
GO
ALTER TABLE [FIRST].[PHRASE] CHECK CONSTRAINT [PHRASE_TYPE_FK]
GO
/****** Object:  ForeignKey [FK_SENTIMENT_DOCUMENT_META_DATA]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[SENTIMENT]  WITH CHECK ADD  CONSTRAINT [FK_SENTIMENT_DOCUMENT_META_DATA] FOREIGN KEY([DOCUMENT_META_DATA_FK])
REFERENCES [FIRST].[DOCUMENT_META_DATA] ([ID])
GO
ALTER TABLE [FIRST].[SENTIMENT] CHECK CONSTRAINT [FK_SENTIMENT_DOCUMENT_META_DATA]
GO
/****** Object:  ForeignKey [FK_SENTIMENT_Sentiment_Classifier_Type]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[SENTIMENT]  WITH CHECK ADD  CONSTRAINT [FK_SENTIMENT_Sentiment_Classifier_Type] FOREIGN KEY([SENTIMENT_CLASSIFIER_TYPE_FK])
REFERENCES [FIRST].[SENTIMENT_CLASSIFIER_TYPE] ([ID])
GO
ALTER TABLE [FIRST].[SENTIMENT] CHECK CONSTRAINT [FK_SENTIMENT_Sentiment_Classifier_Type]
GO
/****** Object:  ForeignKey [FK_SENTIMENT_SENTIMENT_FEATURE_TYPE]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[SENTIMENT]  WITH CHECK ADD  CONSTRAINT [FK_SENTIMENT_SENTIMENT_FEATURE_TYPE] FOREIGN KEY([SENTIMENT_FEATURE_TYPE_FK])
REFERENCES [FIRST].[SENTIMENT_FEATURE_TYPE] ([ID])
GO
ALTER TABLE [FIRST].[SENTIMENT] CHECK CONSTRAINT [FK_SENTIMENT_SENTIMENT_FEATURE_TYPE]
GO
/****** Object:  ForeignKey [FK_SENTIMENT_SENTIMENT_INDICATOR]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[SENTIMENT]  WITH CHECK ADD  CONSTRAINT [FK_SENTIMENT_SENTIMENT_INDICATOR] FOREIGN KEY([SENTIMENT_INDICATOR_FK])
REFERENCES [FIRST].[SENTIMENT_INDICATOR] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIRST].[SENTIMENT] CHECK CONSTRAINT [FK_SENTIMENT_SENTIMENT_INDICATOR]
GO
/****** Object:  ForeignKey [FK_SENTIMENT_SENTIMENT_LEVEL_DEFINITION]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[SENTIMENT]  WITH CHECK ADD  CONSTRAINT [FK_SENTIMENT_SENTIMENT_LEVEL_DEFINITION] FOREIGN KEY([SENTIMENT_LEVEL_DEFINITION_FK])
REFERENCES [FIRST].[SENTIMENT_LEVEL_DEFINITION] ([ID])
GO
ALTER TABLE [FIRST].[SENTIMENT] CHECK CONSTRAINT [FK_SENTIMENT_SENTIMENT_LEVEL_DEFINITION]
GO
/****** Object:  ForeignKey [FK_SENTIMENT_SENTIMENT_SUBFEATURE_TYPE]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[SENTIMENT]  WITH CHECK ADD  CONSTRAINT [FK_SENTIMENT_SENTIMENT_SUBFEATURE_TYPE] FOREIGN KEY([SENTIMENT_SUBFEATURE_TYPE_FK])
REFERENCES [FIRST].[SENTIMENT_FEATURE_TYPE] ([ID])
GO
ALTER TABLE [FIRST].[SENTIMENT] CHECK CONSTRAINT [FK_SENTIMENT_SENTIMENT_SUBFEATURE_TYPE]
GO
/****** Object:  ForeignKey [HOLDER_CERTAINTY_DOM_FK]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[SENTIMENT]  WITH CHECK ADD  CONSTRAINT [HOLDER_CERTAINTY_DOM_FK] FOREIGN KEY([HOLDER_CERTAINTY_DOM_FK])
REFERENCES [FIRST].[DEGREE_OF_MEMBERSHIP] ([ID])
GO
ALTER TABLE [FIRST].[SENTIMENT] CHECK CONSTRAINT [HOLDER_CERTAINTY_DOM_FK]
GO
/****** Object:  ForeignKey [NEGATIVE_DOM_FK]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[SENTIMENT]  WITH CHECK ADD  CONSTRAINT [NEGATIVE_DOM_FK] FOREIGN KEY([NEGATIVE_DOM_FK])
REFERENCES [FIRST].[DEGREE_OF_MEMBERSHIP] ([ID])
GO
ALTER TABLE [FIRST].[SENTIMENT] CHECK CONSTRAINT [NEGATIVE_DOM_FK]
GO
/****** Object:  ForeignKey [POSITIVE_DOM_FK]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[SENTIMENT]  WITH CHECK ADD  CONSTRAINT [POSITIVE_DOM_FK] FOREIGN KEY([POSITIVE_DOM_FK])
REFERENCES [FIRST].[DEGREE_OF_MEMBERSHIP] ([ID])
GO
ALTER TABLE [FIRST].[SENTIMENT] CHECK CONSTRAINT [POSITIVE_DOM_FK]
GO
/****** Object:  ForeignKey [SENTIMENT_OBJECT_FK]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[SENTIMENT]  WITH CHECK ADD  CONSTRAINT [SENTIMENT_OBJECT_FK] FOREIGN KEY([SENTIMENT_OBJECT_FK])
REFERENCES [FIRST].[SENTIMENT_OBJECT] ([ID])
GO
ALTER TABLE [FIRST].[SENTIMENT] CHECK CONSTRAINT [SENTIMENT_OBJECT_FK]
GO
/****** Object:  ForeignKey [FK_SENTIMENT_INDICATOR_INDICATOR]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[SENTIMENT_INDICATOR]  WITH CHECK ADD  CONSTRAINT [FK_SENTIMENT_INDICATOR_INDICATOR] FOREIGN KEY([INDICATOR_FK])
REFERENCES [FIRST].[INDICATOR] ([ID])
GO
ALTER TABLE [FIRST].[SENTIMENT_INDICATOR] CHECK CONSTRAINT [FK_SENTIMENT_INDICATOR_INDICATOR]
GO
/****** Object:  ForeignKey [INDICATOR_TYPE_FK]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[SENTIMENT_INDICATOR]  WITH CHECK ADD  CONSTRAINT [INDICATOR_TYPE_FK] FOREIGN KEY([INDICATOR_TYPE_FK])
REFERENCES [FIRST].[INDICATOR_TYPE] ([ID])
GO
ALTER TABLE [FIRST].[SENTIMENT_INDICATOR] CHECK CONSTRAINT [INDICATOR_TYPE_FK]
GO
/****** Object:  ForeignKey [OBJECT_TYPE_FK]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[SENTIMENT_OBJECT]  WITH CHECK ADD  CONSTRAINT [OBJECT_TYPE_FK] FOREIGN KEY([SENTIMENT_OBJECT_TYPE_FK])
REFERENCES [FIRST].[SENTIMENT_OBJECT_TYPE] ([ID])
GO
ALTER TABLE [FIRST].[SENTIMENT_OBJECT] CHECK CONSTRAINT [OBJECT_TYPE_FK]
GO
/****** Object:  ForeignKey [OBJECT_FK]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[SENTIMENT_OBJECT_PROPERTY_RELATION]  WITH CHECK ADD  CONSTRAINT [OBJECT_FK] FOREIGN KEY([SENTIMENT_OBJECT_FK])
REFERENCES [FIRST].[SENTIMENT_OBJECT] ([ID])
GO
ALTER TABLE [FIRST].[SENTIMENT_OBJECT_PROPERTY_RELATION] CHECK CONSTRAINT [OBJECT_FK]
GO
/****** Object:  ForeignKey [OBJECT_PROPERTY_FK]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[SENTIMENT_OBJECT_PROPERTY_RELATION]  WITH CHECK ADD  CONSTRAINT [OBJECT_PROPERTY_FK] FOREIGN KEY([OBJECT_PROPERTY_FK])
REFERENCES [FIRST].[SENTIMENT_OBJECT_PROPERTY] ([ID])
GO
ALTER TABLE [FIRST].[SENTIMENT_OBJECT_PROPERTY_RELATION] CHECK CONSTRAINT [OBJECT_PROPERTY_FK]
GO
/****** Object:  ForeignKey [FK_SENTIMENTPHRASE_RELATION_PHRASE]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[SENTIMENT_PHRASE_RELATION]  WITH CHECK ADD  CONSTRAINT [FK_SENTIMENTPHRASE_RELATION_PHRASE] FOREIGN KEY([PHRASE_FK])
REFERENCES [FIRST].[PHRASE] ([ID])
GO
ALTER TABLE [FIRST].[SENTIMENT_PHRASE_RELATION] CHECK CONSTRAINT [FK_SENTIMENTPHRASE_RELATION_PHRASE]
GO
/****** Object:  ForeignKey [SENTIMENT_FK]    Script Date: 09/23/2013 16:40:05 ******/
ALTER TABLE [FIRST].[SENTIMENT_PHRASE_RELATION]  WITH CHECK ADD  CONSTRAINT [SENTIMENT_FK] FOREIGN KEY([SENTIMENT_FK])
REFERENCES [FIRST].[SENTIMENT] ([ID])
GO
ALTER TABLE [FIRST].[SENTIMENT_PHRASE_RELATION] CHECK CONSTRAINT [SENTIMENT_FK]
GO
